button, input[type=number], input[type=text] {
    padding: 5px;
    background-color: #000;
    color: #0f0
}

h1, input[type=number], label, p, span, td, th {
    color: #0f0
}

button, input[type=text] {
    border: 1px solid #0f0;
    margin: 5px 0;
    border-radius: 3px
}

button:hover {
    background-color: #007f00
}

body {
    background-color: #000;
    font-family: 'Courier New', monospace;
    padding: 20px
}

h1 {
    color: #00ff00;
    font-size: 24px
}

p {
    margin: 10px 0
}

hr {
    border: 0;
    border-top: 1px solid #0f0
}

input[type=checkbox] {
    transform: scale(1.2);
    margin-right: 10px;
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: #000;
    border: 2px solid #0f0;
    border-radius: 3px;
    cursor: pointer
}

input[type=checkbox]:checked {
    background-color: #0f0;
    border: 2px solid #0f0
}

input[type=checkbox]:focus {
    outline: 0;
    box-shadow: 0 0 3px rgba(0, 255, 0, .7)
}

input[type=number] {
    font-size: 16px;
    border: 2px solid #0f0;
    border-radius: 3px;
    width: 100px;
    height: 30px
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    background-color: #000;
    color: #0f0;
    font-size: 12px;
    width: 20px;
    height: 30px;
    border: 2px solid #0f0;
    border-radius: 3px;
    cursor: pointer
}

input[type=number]::-webkit-inner-spin-button:hover, input[type=number]::-webkit-outer-spin-button:hover {
    background-color: #0f0;
    border: 2px solid #0f0;
    color: #000
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px
}

td, th {
    border: 1px solid #0f0;
    padding: 8px;
    text-align: left
}

th {
    background-color: #0f0;
    color: #000
}

tr {
    text-align: center;
}

tr:nth-child(2n) {
    background-color: #111
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    background-image: url(@/assets/black_man_laughing_in_the_dark.jpg);
    background-size: cover
}

a {
    color: #0f0
}